body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;
}
h1{
    color: #66bfbf;
    font-size: 5.925rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: normal;
    padding-bottom: 10px;
}
.title-text{
    display: block;
}
.programmer{
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;   
}
.middle-container {
    margin: 100px 0;
}
.profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.intro {
    width: 40%;
    margin: auto;
}

p{
    line-height: 2;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2rem;
    width: 50%;
    margin: 100px auto 0 auto;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: left;
    row-gap: 2rem;
}

.typing{
    display: block;
    
}
.h3{
    margin-top: 0;
}

h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}

.btn{
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}